<footer>
	<div class="footer navbar-fixed-bottom text-center" style='color:#c9c9c9; padding: 8px 0; margin-left: 0; margin-right: 0; opacity: 0.95;'>
		<div class="container narrow row-fluid">
			<div>
				Management © 2014
			</div>
		</div>
	</div>
</footer>