<div class="col-md-12">
    <h2>Properties</h2>
    <div class="col-xs-5 col-sm-2">
        {{#each}}
        <div class="row">
            {{#link-to 'property' this.name}}<span {{action "setSortable" properties}}>{{ name }}</span>{{/link-to}}
        </div>
        {{/each}}
    </div>
    <div class="col-xs-7 col-sm-10" style="position: relative; margin-top: -63px;">
        {{partial "property"}}
    </div>
</div>